// write your CSS in here

/*label.error{display:block; margin:10px 0, color:#cc0000;}*/

#berrorslink{display:none;}

#reqiredfield{color:blue;}

#fielderrors{color:red;}



div ul > img {margin: 50px 20px;}
